/*
 * General styles
 */

* {
    font-family: '0xProto';
}

.window {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    border: 3px solid black;
    border-radius: 10px;
}

.window > * {
    font-size: small;
    padding: 5px 15px;
}

.bar-window {
    padding: 0px 30px;
    min-width: 100px;
    border-radius: 0px 0px 40px 40px;
}

.slider-controls-window > * {
    min-width: 400px;
    min-height: 250px;
}

.slider-box {
	padding: 10px 150px;
}

.slider-box > * {
	min-width: 250px;
	border-radius: 10px;
	border: 1px solid black;
}


/*
 * Notification styles
 */
 window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 32px;
    min-height: 32px;
    margin-right: 1em;
}

.icon image {
    font-size: 32px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 32px;
    min-height: 32px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid @wm_borders_edge;
    background-color: @theme_bg_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: @theme_unfocused_fg_color;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}