.bar-widget {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    /*border-radius: 20px;*/
    border: 3px solid black;
}

.bar-widget > * {
    font-size: small;
    padding: 5px 15px;
    /*border-radius: 20px;*/
}

.search {
    padding: 0px 10px;
    min-width: 100px;
    border-radius: 0px 0px 40px 40px;
}

.search-widget {
    border-radius: 0px 0px 40px 40px;
}

.workspaces-widget {
    border-radius: 0px 0px 20px 0px;
}

.stats-widget {
    border-radius: 0px 0px 0px 20px;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}


levelbar block,
highlight {
    min-height: 10px;
}